* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;

  display: flex;
  justify-content:space-between;
  background-color: #292f34;
}

.search-bar-contents {
  display: flex;
  align-items: center;
}

.flame-icon {
  width: 300px;
  margin-right: 5vw;
}


.lists-left {
  display: flex;
  min-width: 200px;
}


.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  font-size: 25px;
}


.user-nickname {
  font-size: 25px;
  text-decoration: none;
  margin-right: 3vw;
  color: #ffffe5;
  font-weight: bold;
  margin-right: 3vw;
}


.logout {
  text-decoration: none;
  color: #ffffe5;
  margin-right: 3vw;

}

.login {
  font-size: 25px;
  text-decoration: none;
  margin-right: 3vw;
  color: #ffffe5;
}

.sign-up {
  font-size: 25px;
  text-decoration: none;
  color: #ffffe5;
  margin-right: 3vw;
}